<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Preferences</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsNoVideoAds</string>
			<key>label</key>
			<string>No Ads</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsBackgroundPlayback</string>
			<key>label</key>
			<string>Background Playback</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsNoDownloadButton</string>
			<key>label</key>
			<string>No Download Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsNoCommentsSection</string>
			<key>label</key>
			<string>No Comment Section</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsNoCastButton</string>
			<key>label</key>
			<string>No Cast Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsNoCreateVideoButton</string>
			<key>label</key>
			<string>No Create Video Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsNoNotificationButton</string>
			<key>label</key>
			<string>No Notification button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsAllowHDOnCellularData</string>
			<key>label</key>
			<string>Allow HD On Cellular Data</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsAllowHDOnCellularData</string>
			<key>label</key>
			<string>Allow HD On Cellular Data</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsShowStatusBarInOverlay</string>
			<key>label</key>
			<string>Show Status Bar In Overlay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsDisableVideoEndscreenPopups</string>
			<key>label</key>
			<string>Disable Video Endscreen Popups</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsDisableYouTubeKidsPopup</string>
			<key>label</key>
			<string>Disable YouTube Kids Popup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsDisableAgeRestriction</string>
			<key>label</key>
			<string>Disable Age Restriction</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsDisableVoiceSearch</string>
			<key>label</key>
			<string>Disable Voice Search</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsDisableHints</string>
			<key>label</key>
			<string>Disable Hints</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsHideTrendingTab</string>
			<key>label</key>
			<string>Hide Trending Tab</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsHideSubscriptionsTab</string>
			<key>label</key>
			<string>Hide Subscriptions Tab</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsHideInboxTab</string>
			<key>label</key>
			<string>Hide Inbox Tab</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsHideLibraryTab</string>
			<key>label</key>
			<string>Hide Library Tab</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsDisableDoubleTapToSkip</string>
			<key>label</key>
			<string>Disable Double Tap To Skip</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsHideShareButtonInOverlay</string>
			<key>label</key>
			<string>Hide Share Button In Overlay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsNoTopicsSection</string>
			<key>label</key>
			<string>No Topics Section</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsHideOverlayDarkBackground</string>
			<key>label</key>
			<string>Hide Overlay Dark Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsEnableiPadStyleOniPhone</string>
			<key>label</key>
			<string>Enable iPad Style On iPhone</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsHidePreviousAndNextButtonInOverlay</string>
			<key>label</key>
			<string>Hide Previous And Next Button In Overlay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsNoStories</string>
			<key>label</key>
			<string>No Stories</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsDisableVideoAutoPlay</string>
			<key>label</key>
			<string>Disable Video Auto Play</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsAlwaysShowPlayerBar</string>
			<key>label</key>
			<string>Always Show Player Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.aleksilassila.youtuberebornpreferences</string>
			<key>key</key>
			<string>wantsDisableRelatedVideosInOverlay</string>
			<key>label</key>
			<string>Disable Related Videos In Overlay</string>
		</dict>
	</array>
	<key>title</key>
	<string>YoutubeRebornPreferences</string>
</dict>
</plist>
